<h2>list1: {{ list1 | json}}</h2>
<ul [ngxHmDnd]="'group-1'" [sourceData]="list1">
  <li *ngFor="let item of list1; let i = index;">
    {{item}}
  </li>
</ul>

<h2>list2: {{ list2 | json}}</h2>
<ul [ngxHmDnd]="'group-1'" [sourceData]="list2">
  <ng-container *ngIf="list2.length>0;else ee">
      <li *ngFor="let item of list2; let i = index;">
          {{item}}
        </li>
  </ng-container>
  <ng-template #ee>
    <li>

        jkljkl
        fdsfsd<br>
        fdsfsd<br>
        fdsfsd
    </li>
  </ng-template>
</ul>

<h2>list3: {{ list3 | json}}</h2>
<ul [ngxHmDnd]="'group-1'" [sourceData]="list3">
  <li *ngFor="let item of list3; let i = index;">
    {{item}}
  </li>
</ul>
