<nav id="nav">
  <ul [ngxHmDnd]="'group-1'" [sourceData]="bookCategory" [enable]="false">
    <li *ngFor="let category of bookCategory; let i = index;"
      [ngClass]="{'selected': selectedIndex === i}"
      (click)="selectedIndex = i">
      <a>{{ category.name }}</a>
    </li>
  </ul>
</nav>

<h2>{{ bookCategory[selectedIndex].name }}</h2>
<div *ngIf="display" class="image-wrapper"
  [ngxHmDnd]="'group-1'" [sourceData]="bookCategory[selectedIndex].books" (complete)="complete($event)">
  <div class="image-item insta-page"
    *ngFor="let book of bookCategory[selectedIndex].books; let i = index;"
    [attr.sortEnable]="!book.checked"
    [ngClass]="{'selected': book.checked}"
    (click)="book.checked = !book.checked" >
     <a class="image insta-image">
       <img alt="image" [src]="book.path" />
      </a>
   </div>
</div>
<div>
  {{ bookCategory[selectedIndex].books | json }}
</div>
