// ul {
//   touch-action: none;
//   user-select: none;
//   -webkit-user-drag: none;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   li {
//     padding-top: 5px;
//     padding-bottom: 5px;
//     // background-color: lightslategrey;
//     margin: 3px 0px;
//   }
// }

$insta-wrapper-max-width: 965px;
$insta-wrapper-min-height: 100px;
$height: 100%;
$width: 100%;
$transition: all .17s cubic-bezier(.4, 0, 1, 1);

.image-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0 auto 30px;
  max-width: $insta-wrapper-max-width;
  min-height: $insta-wrapper-min-height;
  position: relative;
  width: $width;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@for $i from 1 through 10 {
  .image-item {
    // 動畫效果
    // animation: slide-item .3s ease forwards;
    // transform: translateY(250px);
    // visibility: hidden;

    box-sizing: border-box;
    flex: 1 0 33%;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    width: $width;

    // 改善畫面選取效能
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:nth-child(#{$i}) {
      animation-delay: (#{$i * .1s});
    }
  }

  .insta-page {
    padding: 10px;
  }
}

.image {
  display: block;
  position: relative;
  transition: $transition;
  width: $width;
  // 防止圖片被抓起來
  pointer-events: none;

  img {
    display: block;
    max-width: $width;
  }
}

@keyframes slide-item {
  60% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fadeIn {

  0% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0);
  }
}


nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: #dd1d8d;
  -webkit-transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
  transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
  z-index: 3;
  &before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.27);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  ul {
    position: relative;
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    li {
      display: inline-block;
      padding: 1.35em 0;
      margin-right: 3em;
      font-size: 0.9em;

      // 改善畫面選取效能
      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      a {
        margin: 0 25px;
        text-decoration: none;
        color: #fff;
        font-size: 0.9em;
        // 防止文字被選取
        pointer-events: none;
      }
    }
    li.selected {
      background-color: #b61c1c;
      opacity: 0.7;
    }
  }
}
